<p id="notice"><%= notice %></p>
<div class="x">
      <a style='color:#A7BB4D;font-size:2em'> 顾客<%= @user.name %>你好， 你的id=<%= @user.id %> </a>
</div>

<% if session[:user_id] %>
  <br />
  <%= link_to '购书', store_index_path %><br />
  <%= link_to '订单', orders_path %><br />
  <br />
    <%= button_to '退出', logout_path, :method => :delete %>
  <% end %>

