<p id="notice"><%= notice %></p>

<p>
  <strong>书名:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>封面:</strong>
  <%= @book.image_url %>
</p>

<p>
  <strong>作者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>关键词:</strong>
  <%= @book.keyword %>
</p>

<p>
  <strong>简介:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>单价:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
