<div class="nav-search" >
  <form action="/store/search" method="get">
    <fiedset>
      <legend>搜索:</legend>
      <label for="inp-query" style="display: none;">书名 作者</label>
      <div class="inp">
        <input id="inp-query" name="search_text" size="22" maxlength="60" value placeholder="书名 作者" autocomplete="off" dir="1tr">
      </div>
      <div class="inp-btn">
        <input type="submit" value="搜索">
      </div>
      <input type="hidden" name="field" value="title,author">
    </fieldset>
  </form>
</div>
  <a href="http://192.168.1.240:3000/store/classify?book.keyword=%E6%95%A3%E6%96%87">ss</a>
</li>
<div>
    <%= link_to '散文' %><br />
    <%= link_to '流行' %><br />
    <%= link_to '文化' %><br />
    <%= link_to '生活' %><br />
    <%= link_to '经管' %><br />
    <%= link_to '科技' %><br />

<div id="main">

<h1><%= '推荐书籍' %></h1>
  <% @books.each do |book| %>
    <div class="entry">
      <%= image_tag(book.image_url)  %>
      <h3><%= book.title %></h3>
      <%= book.author %>
      <%= book.keyword %>
      <%= sanitize(book.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(book.price) %></span>
          <%= button_to '购买', line_items_path(:book_id => book) %>
      </div>
  <% end %>
