<p id="notice"><%= notice %></p>
<div id="book_list">
  <h1>书籍列表</h1>

<table>
  <% @user.books.each do |book| %>
    <div class="entry">
      <%= image_tag(book.image_url)  %>
      <h3><%= book.title %></h3>
      <%= book.author %>
      <%= book.keyword %>
      <%= sanitize(book.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(book.price) %></span>
          <%= button_to '购买', line_items_path(:book_id => book) %>
      </div>
    </div>
  <% end %>
</table>
<div>
  <div>
    <%= page_entries_info @user.books %>
  </div>
    <%= will_paginate @user.books %>
</div>